<h1>Translator (use Yandex API)</h1>

<%= form_tag(translator_path, method: "post") do %>
<p>
	<%= text_field_tag(:login, @user.login) %>
</p>
<p>
	<%= label_tag(:text_in, "Translate for:") %>
	<%= text_field_tag(:text_in, @text_in) %>
	<%= submit_tag("Translate") %>
</p>
<p>
	<%= label_tag(:text_out, "Translated text:") %>
	<%= text_field_tag(:text_out, @text_out) %>
	<br />
	<%= link_to "Edit Profile", edit_user_path(:current) %>
	<h3>History:</h3>
</p>
	<%= @user.histories.find_each do |history| %>
		<%= label_tag(@user.login) %>
		<br/>
		<%= label_tag(history.before_translate) %>
		<br/>
		<%= label_tag(history.after_translate) %>
		<br/><br/>
	<% end %>
<% end %>



